/*
** **
** ** ** Variables
** **
*/
:root {
  --primary: #001b25;
  --secondary: #005171;

  --info: #2a5d98;

  --black: #000;
  --white: #fff;

  --divider-color: #8bd6f3;

  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

/*
** **
** ** ** Use A More Intuitive Box Model
** **
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
** **
** ** ** Remove Default Margin
** **
*/
* {
  margin: 0;
  padding: 0;
}

/*
** **
** ** ** Allow Percentage Based Heights 
** **
*/
html,
body {
  height: 100%;
}

/*
** **
** ** ** Accessible Line Height And Improve Text Rendering
** **
*/
body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
** **
** ** ** Improve Media Defaults
** **
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

/*
** **
** ** ** Fonts for code element
** **
*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
** **
** ** ** Remove Default Typography From Form Inputs
** **
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
** **
** ** ** Avoid Text Overflows
** **
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bellefair", serif;
  overflow-wrap: break-word;
}

p {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 300;
  overflow-wrap: break-word;
}

/*
** **
** ** ** Recipes
** **
*/
p.lead {
  color: inherit;
  font-size: 1.4rem;
}

p.callout {
  color: inherit;
  font-weight: 500;
}

.row {
  display: flex;
  gap: 8px;
  max-width: 80%;
}

.row .icon-wrap {
  flex: 0 0 30px;
}

.row ion-icon {
  font-size: 2rem;
  color: inherit;
  --ionicon-stroke-width: 80px;
}

.box-wrapper {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  background: var(--primary);
}

.box {
  width: 100%;
  height: 5rem;
  background: var(--primary);
  border-top: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box h3 {
  font-size: 2rem;
  color: var(--white);
}

@media screen and (max-width: 1200px) {
  .row {
    max-width: 100%;
  }
}

/*
** **
** ** ** Header
** **
*/
.header {
  --border-size: 6px;
  --border-color: var(--white);
  height: 5.6rem;
  background-image: linear-gradient(to right, #101a23, #093a58, #101a23);
  border-top: var(--border-size) solid var(--border-color);
  border-bottom: var(--border-size) solid var(--border-color);
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/*
** **
** ** ** Header -> Logo
** **
*/
.header .logo {
  width: 220px;
}

/*
** **
** ** ** Header -> Nav
** **
*/
.header .nav {
  height: 80%;
}

.header .nav ul {
  display: flex;
  height: 100%;
}

.header .nav ul li {
  height: 100%;
  list-style: none;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
}

.header .nav a {
  color: var(--white);
  font-size: 1.2rem;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 0 16px;
  align-items: center;
}

.header nav ul li:hover {
  border-bottom: 3px solid var(--white);
}

/*
** **
** ** ** Header -> Nav Menu Button
** **
*/
.header #nav-button-input,
.nav-menu-button-wrapper {
  display: none;
}

.header .nav-menu-button {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: #335364;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.header .nav-menu-button span {
  width: 80%;
  height: 4px;
  background-color: var(--white);
  position: relative;
  transition: all 0.3s ease;
}

.header .nav-menu-button span::before,
.header .nav-menu-button span::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--white);
  transition: all 0.3s ease;
}

.header .nav-menu-button span::before {
  top: -8px;
}

.header .nav-menu-button span::after {
  top: 8px;
}

.header #nav-button-input:checked ~ label span {
  background-color: transparent;
}

.header #nav-button-input:checked ~ label .nav-menu-button span::before {
  top: 0%;
  transform: rotate(40deg);
}

.header #nav-button-input:checked ~ label .nav-menu-button span::after {
  top: 0%;
  transform: rotate(-40deg);
}

/*
** **
** ** ** Header -> Nav Responsive
** **
*/
.header .nav-responsive {
  width: 100%;
  height: 0px;
  background: #005576;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  overflow: hidden;
  transition: all 0.3s ease;
}

.header .nav-responsive {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.header .nav-responsive a {
  color: var(--white);
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 8px 0;
  transition: all 0.3s ease;
}
.header .nav-responsive a:hover {
  background: var(--white);
  color: black;
}

.header #nav-button-input:checked ~ .nav-responsive {
  height: 90px;
}

/*
** **
** ** ** Media Queries
** **
*/
@media screen and (max-width: 700px) {
  .header {
    padding: 0 8px;
  }

  .nav-menu-button-wrapper {
    display: block;
  }

  .header .nav {
    display: none;
  }

  .header .nav-responsive {
    display: flex;
  }
}

/*
** **
** ** ** Hero
** **
*/
section.hero {
  min-height: 100%;
  font-family: inherit;
  background: #002030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding-top: 80px;
}

.hero .intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.title .hero__logo {
  max-width: 200px;
}

.title h1 {
  font-size: 4.6rem;
}

.title hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--divider-color);
  margin: 4px 0;
}

.title hr:nth-of-type(2) {
  width: 80%;
}

.subtitle p,
.title p {
  color: var(--white);
  font-size: 1.8rem;
  font-family: "Bellefair", serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.title p {
  gap: 4px;
}

.title > p span {
  color: var(--divider-color);
}

/*
** **001b25
** ** ** Hero -> Services
** **
*/
.hero .services {
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: center;
  flex-wrap: wrap;
}

.hero .services a {
  text-decoration: none;
  color: var(--white);
}

.hero .card {
  width: 16rem;
  height: 18rem;
  background-image: radial-gradient(at center center, #005171 0%, #001b25 100%);
  box-shadow: var(--shadow-elevation-medium);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 24px;
  transition: all 0.3s ease;
}

.hero .card:hover {
  transform: scale(1.1);
  background-image: radial-gradient(
    at center center,
    #005171 10%,
    #001b25 100%
  );
}

.hero .card img {
  max-width: 40%;
}

.hero .card h3 {
  font-size: 1.8rem;
}

.hero .card p {
  font-size: 1.4rem;
}

.hero .card hr {
  width: 60%;
  height: 1px;
  border: none;
  background-color: var(--divider-color);
}

/*
** **
** ** ** Hero -> End
** **
*/
.hero .end {
  color: var(--white);
  font-size: 2rem;
  width: 100%;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .end .box-outer {
  --border-size: 1px;
  width: 100%;
  height: 4rem;
  border-top: var(--border-size) solid var(--divider-color);
  border-bottom: var(--border-size) solid var(--divider-color);
  padding: 12px;
  background: radial-gradient(at center center, #8f3b00 5%, #362100 55%);
}

.hero .end .box-inner {
  width: 100%;
  height: 100%;
  border-top: var(--border-size) solid var(--white);
  border-bottom: var(--border-size) solid var(--white);
}

/*
** **
** ** ** About
** **
*/
section.about {
  --border-size: 8px;
  width: 100%;
  min-height: 100%;
  background-image: url(assets/background\ img.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 140px 80px;
  border-top: var(--border-size) solid var(--primary);
  border-bottom: var(--border-size) solid var(--primary);
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: flex-end;
}

.left img.featured-image {
  max-width: 500px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right p.lead {
  max-width: 80%;
}

.right h2 {
  font-family: "Rubik", sans-serif;
}

.right p {
  font-size: 1.2rem;
  width: 80%;
}

.right p.lead {
  font-size: 1.4rem;
}

.right a.button {
  width: fit-content;
  padding: 8px 24px;
  background: var(--primary);
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease;
}

.right a.button:hover {
  background-color: var(--info);
}

.about .title {
  display: none;
}

.about .hero__logo {
  max-width: 250px;
}

.about .title {
  padding: 24px 0;
}

.about .title h3 {
  color: black;
  font-size: 2.4rem;
}

.about .title p {
  color: black;
}

/*
** **
** ** ** Media Queries
** **
*/
@media screen and (max-width: 1200px) {
  section.about {
    flex-direction: column;
    background-size: 200% 103%;
    background-position: center center;
    padding: 140px 24px;
  }

  .about .left,
  .about .right {
    align-items: center;
  }

  .about .title {
    display: flex;
  }

  .right p,
  .right p.lead {
    max-width: 100%;
    width: 100%;
  }
}

/*
** **
** ** ** Activity
** **
*/
section.activity {
  width: 100%;
  min-height: 100%;
  color: var(--white);
  background: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity .main-content {
  display: flex;
  gap: 24px;
  padding: 80px 24px;
}

.right a.button {
  background-color: var(--secondary);
  align-self: center;
}

/*
** **
** ** ** Media Queries
** **
*/
@media screen and (max-width: 1200px) {
  section.activity .main-content {
    flex-direction: column-reverse;
  }

  .main-content .left,
  .main-content .right {
    align-items: center;
  }
}

/*
** **
** ** ** Section Our Customers
** **
*/
section.our-customers {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--primary);
  color: var(--primary);
}

.our-customers .left .wrapper {
  border: 1px solid black;
  padding: 40px;
}

.our-customers .main-content {
  width: 100%;
  flex: 1;
  background-image: url(assets/background\ img.jpg);
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  margin: 16px 0;
}

.our-customers .main-content .left {
  align-items: flex-start;
}

.our-customers .main-content .right {
  align-items: flex-end;
}

.our-customers .main-content .row {
  align-items: flex-start;
  width: 490px;
}

/*
** **
** ** ** Media Queries
** **
*/
@media screen and (max-width: 1200px) {
  section.our-customers .main-content {
    flex-direction: column;
    align-items: center;
    background-size: 150% 100%;
    background-position: center center;
    padding: 80px 24px;
  }

  .our-customers .main-content .row,
  .right p {
    width: 100%;
    max-width: 100%;
  }
}

/*
** **
** ** ** Footer
** **
*/
footer.footer {
  width: 100%;
  padding-top: 80px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--white);
  background: var(--info);
}

.footer .wrapper {
  margin: auto;
  height: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.footer .content {
  margin: auto 0;
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.footer .content .contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
  position: relative;
}

.footer .content .contact-info,
.footer .content .contact-form {
  flex: 1;
}

.footer .content .contact-info a.footer-logo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer a.contact-link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  color: inherit;
}

/*
** **
** ** ** Footer -> Contact Form
** **
*/
.footer .contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-header,
.contact-header .items {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-header p {
  font-size: 1.8rem;
}

.contact-header a {
  font-size: 1.8rem;
  text-decoration: none;
  color: inherit;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}

.contact-header a:hover {
  transform: scale(1.1);
}

.footer .form-group {
  display: flex;
  gap: 12px;
}

.footer .form-group > * {
  flex: 1;
}

.footer .form-group input {
  border-radius: 4px;
  height: 2.6rem;
}

.footer .form-group button {
  height: 2.6rem;
  background: transparent;
  color: inherit;
  border: 1px solid var(--white);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.footer .form-group button:hover {
  background-color: var(--primary);
}

/*
** **
** ** ** Footer -> Copyright 
** **
*/
.footer .copyright {
  border-top: 1px solid var(--white);
  text-align: center;
}

.footer .copyright p.copyright-text {
  font-size: 1.3rem;
  padding: 24px 0;
}

/*
** **
** ** ** Media Queries
** **
*/
@media screen and (max-width: 980px) {
  .footer .content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer .content .contact-info a.footer-logo {
    position: static;
  }

  .footer a.contact-link {
    display: none;
  }

  .contact-header {
    flex-direction: column;
  }
}

/*
** **
** ** ** Media Queries
** **
*/

@media screen and (max-width: 680px) {
  .contact-form .form-group {
    flex-direction: column;
  }

  .footer .form-group > * {
    flex: 0 0 2.7rem;
  }
}

/*
** **
** ** ** Section Additionally & Conclusion
** **
*/
section.additionally,
section.conclusion {
  min-height: 100%;
  background-image: url(assets/background\ img.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  color: var(--secondary);
}

.additionally .wrapper,
.conclusion .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  max-width: 1200px;
  padding: 48px 24px;
}

.additionally .heading,
.conclusion .heading {
  display: flex;
  gap: 16px;
}

.additionally .heading h2,
.conclusion .heading h2 {
  color: var(--primary);
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
}

.additionally .heading img,
.conclusion .heading img {
  max-width: 180px;
  margin: 0 auto;
  transform: translateX(50%);
}

.additionally .box-wrapper,
.conclusion .box-wrapper {
  margin-top: auto;
}

/*
** **
** ** ** Media Queries
** **
*/
@media screen and (max-width: 1100px) {
  section.additionally,
  section.conclusion {
    background-size: 150% 100%;
  }
}

@media screen and (max-width: 800px) {
  section.additionally,
  section.conclusion {
    background-size: 200% 100%;
    background-position: center center;
  }

  .additionally .heading img,
  .conclusion .heading img {
    transform: none;
  }
}

/*
** **
** ** ** Section Additionally
** **
*/

.additionally img.sb_logo {
  max-width: 200px;
  margin: 0 auto;
}

.additionally .row {
  max-width: 100%;
}

/*
** **
** ** ** Media Queries
** **
*/
@media screen and (max-width: 800px) {
  .additionally .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/*
** **
** ** ** Section Conclusion
** **
*/
section.conclusion {
  text-align: center;
  padding-bottom: 80px;
}

.conclusion p.lead {
  font-size: 1.7rem;
}

.conclusion p:not(.lead) {
  font-weight: 400;
}

.conclusion .text {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 40px 0;
}

.conclusion .text .text__lead {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conclusion .text .text__sm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.conclusion-logo img {
  max-width: 600px;
}
